[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ckeditor = "*"
pillow = "*"
pylint = "*"
pylint-celery = "*"
pylint-django = "*"

[dev-packages]

[requires]
python_version = "3.10"
